.answers {
  border-radius: 5%;
  border-style: double;
  background: radial-gradient(#7CA2FF, #240CC2);
  margin: auto;
  margin-bottom: 7px;
  margin-top: 7px;
  width: 45%;
  padding-top: 7px;
  padding-bottom: 7px;
}
.answers div {
  display: none;
  font-size: 60px;
  font-weight: bold;
}


body {
  background-image: url("../images/mainpage/backimage.jpg");
  background-attachment: fixed;
  background-size: cover;
}
body * {
    box-sizing: border-box;
    margin: auto;
    text-align: center;
}
body > * {
  width: 45%;
}
.btn{
  border: 1px solid #3498db;
  background: none;
  background-color: #C7EEFC;
  cursor: pointer;
  display: block;
  font-size: 20px;
  font-family: "montserrat";
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px 20px;
  transition: 0.8s;
}
.btn1:hover{
  color: #38FA03;
}
.btn2:hover{
  color: yellow;
}
.btn3:hover{
  color: red;
}


.explain .formulae img {
   background-color: white;
   border-style: double;
   border-radius: 5%;
   display: block;
   text-align: center;
   margin: auto;
   margin-bottom: 10px;
   margin-top: 10px;
}
.explain .formulae{
  background: radial-gradient(#8372F3, #3E21FF);
  border-style: double;
  border-radius: 5%;
  display: block;
  margin: auto;

  padding-bottom: 10px;
  padding-top: 10px;
  width: 45%;
}
.explain {
  background: radial-gradient(#4E81FF, #0E48D8);
  border-style: double;
  border-radius: 5%;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  width: 45%;
}
.equation {
  background-color: white;
  border-style: double;
  border-radius: 5%;
  padding: 5px;
  margin: auto;
  margin-bottom: 7px;
  margin-top: 7px;
  text-align: center;
  width: 150px;
}
.equations {
  background: radial-gradient(#100368, #280ED8);
  border-style: double;
  border-radius: 5%;
  color: #74D9FF;
  display: block;
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  padding-left: 0;
}


.footer{
  background: radial-gradient(#78E2FA, #280ED8);
  border-style: double;
  border-radius: 10%;
  margin:auto;
  margin-bottom: 3%;
  width: 45%;
  padding-top: 15px;
  padding-bottom: 15px;
}


#introduction {
  border-radius: 5%;
  border-style: double;
  color: white;
  font-style: oblique;
  margin-top: 7px;
  margin-bottom: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  width: 25%;
}


.mainPage {
 background: radial-gradient(#100368, #280ED8);
 border-style: double;
 border-radius: 5%;
 color: #74D9FF;
 margin: auto;
 width: 45%;
}


.title {
  background: radial-gradient(#100368, #280ED8);
  border-radius: 5%;
  border-style: double;
  color: #74D9FF;
  font-family: Arial;
  margin: auto;
  margin-top: 10px;
}
.titleImage{
  display: block;
  height: 25%;
  width: 25%;
  margin-bottom: 14px;
}


.questions {
  background: radial-gradient(#6591FF, #042BD8);
  border-radius: 5%;
  border-style: double;
  margin: auto;
  margin-bottom: 7px;
  margin-top: 7px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 45%;
}
.questions div {
  display: none;
}
.questions div img {
  margin: center;
  width: 80%;
}
